Package: com.wizages.cleansheets
Name: CleanSheets 2
Depends: mobilesubstrate, ws.hbang.common
Version: 2.1.0~beta5
Architecture: iphoneos-arm
Description: Changes the action sheets to a alert popup and allows you to customize the alert.
Author: wizages <wizagesmax@gmail.com>
Section: Tweaks
Depiction: http://wizages.com/cydia/depictions/?dep=com.wizages.cleansheets
