<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CleanSheets Settings</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/enabled.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.cleansheets9</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.dopeteam.cleansheets9/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/settings.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Settings</string>
			<key>detail</key>
			<string>cleansheetsGeneralListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/makers.png</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>detail</key>
			<string>cleansheetsMakersListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/respring.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring to apply changes</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/contact.png</string>
			<key>action</key>
			<string>showSupportEmailController</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2016 DopeTeam</string>
		</dict>
	</array>
</dict>
</plist>
