<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/hideSep.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.cleansheets9</string>
			<key>key</key>
			<string>seperators_hide</string>
			<key>label</key>
			<string>Hide Seperators</string>
			<key>PostNotification</key>
			<string>com.dopeteam.cleansheets9/settingschanged</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/tapClose.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.cleansheets9</string>
			<key>key</key>
			<string>tapDismiss</string>
			<key>label</key>
			<string>Tap to dismiss</string>
			<key>PostNotification</key>
			<string>com.dopeteam.cleansheets9/settingschanged</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>Icon/corners.png</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dopeteam.cleansheets9</string>
			<key>key</key>
			<string>customCorners</string>
			<key>label</key>
			<string>Custom Corner Radius</string>
			<key>PostNotification</key>
			<string>com.dopeteam.cleansheets9/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>15</real>
			<key>defaults</key>
			<string>com.dopeteam.cleansheets9</string>
			<key>key</key>
			<string>radius</string>
			<key>label</key>
			<string>Corner Raidus</string>
			<key>showValue</key>
			<true/>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>100</real>
			<key>PostNotification</key>
			<string>com.dopeteam.cleansheets9/settingschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
